.ContactInfo{
    background-color:#e54d00 ;
    font-style: italic;
}
body{
    margin:0;
}

h1{
    text-align: center;
    background-color: #e54d403;
    text-decoration: underline;
    
    
}
h4{
     margin:0;
 }
.chart{
    height:500;
    width:500;
}


.Dashboard{
    border: solid 3px black;
    height: 40%;
    width:40%;
    display: inline-table;
}

#row{
    margin-left: 10px;
    margin-right: 10px;
}
.MenuSelector{
    border:solid 2px orange;
    font-size:20px;
    text-align:center;
}
