.ContactInfo{
    background-color:#e54d00 ;
    font-style: italic;
}

h2{
    text-align: center;
    background-color: #e54d403;
    text-decoration: underline;
    
    
}
h4{
     margin:0;
 }
.chart{
    height:500;
    width:500;
}


.Dashboard{
    border: solid 3px black;
    height: 50%;
    width:50%;
    display: inline-block;
}