.ContactInfo{
    background-color:#e54d00 ;
    font-style: italic;
}

h1{
    text-align: center;
    background-color: #e54d403;
    text-decoration: underline;
    
    
}
h4{
     margin:0;
 }
.chart{
    height:500;
    width:500;
}


.Dashboard{
    border: solid 3px black;
    height: 40%;
    width:40%;
    display: inline-table;
}